/wiki/*/attach
/wiki/*/backup
/wiki/*/cache
/wiki/*/counter
/wiki/*/diff

/wiki/*/attach/*.[0-9]
/wiki/*/attach/*.log
/wiki/*/backup/*.gz
/wiki/*/cache/*.ref
/wiki/*/cache/*.rel
/wiki/*/counter/*.count
/wiki/*/counter/*.db

/wiki/*/diff/*.txt
/wiki/_template/wiki/*.txt
/wiki/sites/*/*.txt

/nbproject/**
/.vscode/

# Composer files
/vendor/
composer.lock

# Log
/log/
/updateslog/
/node_modules/
/package-lock.json

