# Apache .htaccess for PukiWiki
#
# $Id: .htaccess,v 1.14 2005/04/29 11:51:31 henoheno Exp $
# Copyright (C)
#   2002-2005 PukiWiki Developers Team
#   2001      Originally written by yu-ji
# License: GPL v2 or (at your option) any later version
#
# NOTE: Correct permission of this file 644(or 604)

## Access control by Order/Allow/Deny directives
## needs 'AllowOverride Limit' at httpd.conf

# Prohibit direct access to .htaccess, .htpasswd or others
# (If it's not set by default)
#<FilesMatch "^\.ht">
#	Order allow,deny
#	Deny from all
#</FilesMatch>

# Prohibit direct access
<FilesMatch "\.(ini\.php|lng\.php|txt|gz|tgz|zip)$">
	Order allow,deny
	Deny from all
</FilesMatch>

## Authentication to this directory with basic-auth
## needs 'AllowOverride AuthConfig' at httpd.conf
#AuthType Basic
#AuthName      "Authentication required"
#AuthUserFile  /path/to/.htpasswd
#AuthGroupFile /dev/null
#Require       valid-user

## Using zlib.output_compression per directory (via .htaccess)
## needs 'AllowOverride Options' at httpd.conf
##
## NOTE:
##   Define PKWK_ZLIB_LOADABLE_MODULE somewhere if you are using
##   PHP extension as loadable module (especially FreeBSD ports)
##   (See BugTrack/738 for detail)
#php_flag zlib.output_compression On
