@charset "shift_jis";
// this @charset is for mozilla's bug

pre, dl, ol, p, blockquote { line-height:130%; }

body,td
{
	color: black;
	margin-left: 2%;
	margin-right: 2%;
	font-size: 14px;
	font-family: verdana, arial, helvetica, Sans-Serif;
}

a:link
{
	color: #215dc6;
	text-decoration: none;
}

a:active
{
	background: #CCDDEE;
	color: #215dc6;
	text-decoration: none;
}

a:visited
{
	color: #a63d21;
	text-decoration: none;
}

a:hover
{
	background: #CCDDEE;
	color: #215dc6;
	text-decoration: underline;
	position:relative;
	top:1px;
	left:1px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: verdana, arial, helvetica, Sans-Serif;
	background-color: #DDEEFF;
	padding: .3em;
}

dt {
	font-weight: bold;
	margin-top: 1em;
	margin-left: 1em;
}

pre {
	border-top:    #DDDDEE 1px solid;
	border-bottom: #888899 1px solid;
	border-left:   #DDDDEE 1px solid;
	border-right:  #888899 1px solid;
	padding: .5em;
	margin-left: 1em;
	margin-right: 2em;
	white-space: pre;
	background-color: #F0F8FF;
	color: black;
}

img {
	border: none;
	vertical-align: middle;
}

ul {
	margin-top: .5em;
	margin-bottom: .5em;
	line-height:130%;
}

em {
	font-style:italic;
}

strong {
	font-weight:bold;
}

address {
	font-style:normal;
	font-family:Verdana;
	font-size:8px;
}

.noexists {
	background-color:#FFFACC;
}

.style_table {
	margin:auto;
	border:0px;
	padding:0px;
	text-align:left;
	background-color:#ccd5dd;
}

.style_td {
	background-color: #EEF5FF;
	padding: 5px;
	margin: 1px;
	width:14%;
	height:19px;
}

.style_calendar {
	border: 0px;
	background-color: #CCD5DD;
	padding: 0px;
}

.style_td_caltop {
	background-color: #EEF5FF;
	padding: 5px;
	margin: 1px;
	height:15px;
}

.style_td_today {
	background-color: #FFFFDD;
	padding: 5px;
	margin: 1px;
	width:14%;
	height:19px;
}

.style_td_sat {
	background-color: #DDE5FF;
	padding: 5px;
	margin: 1px;
	width:14%;
	height:19px;
}

.style_td_sun {
	background-color: #FFEEEE;
	padding: 5px;
	margin: 1px;
	width:14%;
	height:19px;
}

.style_td_blank {
	background-color: #EEF5FF;
	padding: 5px;
	margin: 1px;
	width:14%;
	height:19px;
}

.style_td_week {
	background-color: #DDE5EE;
	padding: 5px;
	margin: 1px;
	height:15px;
}

.small {
	font-size:12px;
}

.super_index {
	color: #DD3333;
	font-weight: bold;
	font-size:12px;
	vertical-align:super;
}

.note_super {
	color: #DD3333;
	font-weight: bold;
	font-size:10px;
	vertical-align:super;
}

.full_hr {
	border-style:ridge;
	border-color:#333333;
	border-width:1px 0px;
}

.note_hr {
	width:90%;
	border-style:ridge;
	border-color:#333333;
	border-width:1px 0px;
	text-align:center;
	margin:1em auto 0em auto;
}

.side_label {
	text-align:center;
}

.counter {
	font-size:8px;
}
.vote_label{
	background-color: #FFCCCC;
}
.vote_td1{
	background-color: #DDE5FF;
}
.vote_td2{
	background-color: #EEF5FF;
}

.recent_list{
	margin:0px;
	margin-left:1em;
	padding:0px;
	border:0px;
	word-wrap:break-word;
	word-break:break-all;
}

.side_label{
	margin:auto;
	margin-top:0px;
	margin-bottom:.5em;
}

span.diff_added {
	color: blue;
}

span.diff_removed {
	color: red;
}

.ie5 {
	text-align:center;
}

.size1{
	font-size:xx-small;
	line-height:130%;
	text-indent:0px;
	display:inline-block;
}

.size2{
	font-size:x-small;
	line-height:130%;
	text-indent:0px;
	display:inline-block;
}

.size3{
	font-size:small;
	line-height:130%;
	text-indent:0px;
	display:inline-block;
}
.size4{
	font-size:medium;
	line-height:130%;
	text-indent:0px;
	display:inline-block;
}

.size5{
	font-size:large;
	line-height:130%;
	text-indent:0px;
	display:inline-block;
}

.size6{
	font-size:x-large;
	line-height:130%;
	text-indent:0px;
	display:inline-block;
}

.size7{
	font-size:xx-large;
	line-height:130%;
	text-indent:0px;
	display:inline-block;
}
