@charset "euc-jp";

pre, dl, ol, p, blockquote { line-height:130%; }

body,td
{
	color: black;
	margin-left: 2%;
	margin-right: 2%;
	font-size: 10.5pt;
	font-family: verdana, arial, helvetica, Sans-Serif;
}

a:link
{
	color: #215dc6;
	text-decoration: none;
}

a:active
{
	background: #CCDDEE;
	color: #215dc6;
	text-decoration: none;
}

a:visited
{
	color: #a63d21;
	text-decoration: none;
}

a:hover
{
	background: #CCDDEE;
	color: #215dc6;
	text-decoration: underline;
	position:relative;
	top:1px;
	left:1px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: verdana, arial, helvetica, Sans-Serif;
	background-color: #DDEEFF;
	padding: 0.3em;
}

dt {
	font-weight: bold;
	margin-top: 2ex;
	margin-left: 1em;
}

pre {
	border-top:    #DDDDEE 1px solid;
	border-bottom: #888899 1px solid;
	border-left:   #DDDDEE 1px solid;
	border-right:  #888899 1px solid;
	padding: 0.5em;
	margin-left: 1em;
	margin-right: 2em;
	white-space: pre;
	background-color: #F0F8FF;
	color: black;
}

img {
	border: none;
	vertical-align: middle;
}

small {
	font-size:8.5pt;
}

sup {
	color: #DD3333;
	font-weight: bold;
}

ul {
	margin-top: 5px;
	margin-bottom: 5px;
	line-height:130%;
}

.noexists {
	background-color:#FFFACC;
}

.style_table {
	border: 0px;
	background-color: #CCD5DD;
	margin: 5px;
	margin-left: 3em;
	padding: 0px;
}

.style_td {
	background-color: #EEF5FF;
	padding: 5px;
	margin: 1px;
}

.style_calendar {
	border: 0px;
	background-color: #CCD5DD;
	padding: 0px;
}

.style_td_caltop {
	background-color: #EEF5FF;
	padding: 5px;
	margin: 1px;
}

.style_td_today {
	background-color: #FFFFDD;
	padding: 5px;
	margin: 1px;
}

.style_td_sat {
	background-color: #DDE5FF;
	padding: 5px;
	margin: 1px;
}

.style_td_sun {
	background-color: #FFEEEE;
	padding: 5px;
	margin: 1px;
}

.style_td_blank {
	background-color: #EEF5FF;
	padding: 5px;
	margin: 1px;
}

.style_td_week {
	background-color: #DDE5EE;
	padding: 5px;
	margin: 1px;
}
