/*
/////////////////////////////////////////////////
// PukiWiki - Yet another WikiWikiWeb clone.
//
// $Id: print.ja.css,v 1.3 2004/04/03 15:56:08 arino Exp $
//
*/
@charset "Shift_JIS";
@import url("default.ja.css");

a:link
{
	text-decoration: underline;
}
a:visited
{
	text-decoration: underline;
}
/*
div#header
{
	display:none;
}
*/
img#logo
{
	display:none;
}
div#navigator
{
	display:none;
}
td.menubar
{
	display:none;
}
div#menubar
{
	display:none;
}
/*
div#note
{
	display:none;
}
*/
div#attach
{
	display:none;
}
div#toolbar
{
	display:none;
}
/*
div#lastmodified
{
	display:none;
}
*/
div#related
{
	display:none;
}
/*
div#footer
{
	display:none;
}
*/
